h1#name{
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}


#goldbrown:hover{
    background-color: #996515 ;
    color: black;
    transition: all 0.5s
}
#sealbrown:hover{
    background-color: #582F0E ;
    color: black;
    transition: all 0.5s
}
#persianred:hover{
    background-color: #CC3333 ;
    color: black;
    transition: all 0.5s
}
#huntgreen:hover{
    background-color: #3A5A40 ;
    /* color: black; */
    transition: all 0.5s
}
#eerieblack:hover{
    background-color: #252627 ;
    /* color: black; */
    transition: all 0.5s
}
#teagreen:hover{
    background-color: #C2EABD ;
    color: black;
    transition: all 0.5s
}
#coolgray:hover{
    background-color: #8896AB ;
    color: black;
    transition: all 0.5s
}
#bone:hover{
    background-color: #DDD8C4 ;
    color: black;
    transition: all 0.5s
}
#flax:hover{
    background-color: #E8DB7D ;
    color: black;
    transition: all 0.5s
}